# macOS
.DS_Store

# Ansible
*.retry
.ansible/
ansible.log

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
tfplan
tfdestroyplan
*.tfplan
*.plan