<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Les 05 - Opdracht 1</title>
</head>
<body>
    <h1>Apache2 is geinstalleerd zonder de apt module</h1>
    <p>Deze pagina is geplaatst via een Ansible template.</p>
    <p>Host: {{ inventory_hostname }}</p>
</body>
</html>